<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
</head>
<body>
    <h2>
        Hello World!
    </h2>
    <form action="/api/adduser" method="post">
      Nom : <input type="text" name="nom" />
      Prenom : <input type="text" name="prenom" />
      Pseudo : <input type="text" name="username" />
      mot de passe : <input type="text" name="mdp" />
      date de naissance : <input type="text" name="ddn" />
      adresse e-mail : <input type="text" name="mail" />
      adresse de livraison : <input type="text" name="adr_liv" />
      code postale : <input type="text" name="code" />
      ville : <input type="text" name="ville" />
      pays : <input type="text" name="pays" />
      numero de telephone : <input type="text" name="tel" />
      carte de credit : <input type="text" name="carte" />
      enregistrer : <input type="submit"/>
    </form>
</body>
</html>
